name: cocobolo_app
description: COCOBOLO CRM Application
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  
  google_fonts: ^6.1.0
  flutter_animate: ^4.3.0
  animated_text_kit: ^4.2.2
  image_picker: ^1.0.4 
  
  firebase_core: ^2.24.0
  firebase_messaging: ^14.7.10
  flutter_local_notifications: ^16.3.2
  http: ^1.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/

   